fastapi
uvicorn[standard]
psycopg2-binary
python-dotenv
pydantic
pydantic[email]
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
pandas
numpy
scikit-learn
joblib
python-multipart
mathplotlib
warnings
seaborn
sklearn
kagglehub
shutil

